.fondo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8 )), url(./Imagenes/ba1.jpg);
  background-size: cover;
  background-position: center;
}

.fondo-info {
  position: relative;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

body {
  margin-bottom: 300px;
}
